@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


//Variabler for farger og fonter bestemt i oppgaveteksten
$darkblue: #2A324B;
$medblue: #58699D;
$lightblue: #E1E5EE;
$white: #fff;
$black: #000;

$font: 'Montserrat', sans-serif;
$fontsize: 15px;
$width: 1000px;

/* Bestemmer at bakgrunnen på hele siden skal være lys blå ved å referere til body i index.html. */
body {
    background-color: $lightblue;
    max-width: 1400px;

    /* i arbeidskrav2 var det en div-tag som "rammet inn" hele nav-baren. Disse reglene er satt på div-tag med id root i dette tilfellet. */
    #root {
        display: block;
        width: 100%;
        margin: 0 auto;
        min-height: 500px;
        margin-top: 10rem;
        max-width: $width;
        font-family: $font;
        font-size: $fontsize;
        color: $darkblue;

        header {
            nav {
                ul {
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    padding: 0;
                    margin: 0;
    
                    li {
                        display: block;
                        background-color: $darkblue;
                        padding: 1rem 2rem;
                        color: $white;
                        font-family: $font;
                        font-size: $fontsize;
                        text-decoration: none;
                        font-weight: 700;
                        border-style: none;
    
                        &:hover {
                            background-color: $white;
                            color: $darkblue;
                        }

                        a {
                            color: $white;
                            font-weight: 700;

                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }

        main {
            background-color: $white;
            padding: 3rem;
        }

      
    
    }

}


/* Når jeg vil stilsette et html-element som er i neste ledd, er det ofte best practice å referere gjennom stien inn til elementet - først til nav, så til ul. */


/* Her må jeg stilsette med fonter og farger på nytt, fordi i flere nettlesere er button-tagen unntatt de overordnede stilene, som jeg har satt i #innhold*/


@media screen and (max-width: 625px){
    body {
       

        #root {
            header {
                nav {
                    ul {
                        display: inline-block;
                    }
                }
            }
            main {
                border-top: 1px solid $lightblue;
            }
        }
    }
}

