@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


//Variabler for farger og fonter bestemt i oppgaveteksten
$darkblue: #2A324B;
$medblue: #58699D;
$lightblue: #E1E5EE;
$white: #fff;
$black: #000;

$font: 'Montserrat', sans-serif;
$fontsize: 15px;

/* Bestemmer at bakgrunnen på hele siden skal være lys blå ved å referere til body i index.html. */
body {
    background-color: $lightblue;

    /* i arbeidskrav2 var det en div-tag som "rammet inn" hele nav-baren. Disse reglene er satt på div-tag med id root i dette tilfellet. */
    #root {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        min-height: 500px;
        margin-top: 10rem;
        max-width: 1000px;
        font-family: $font;
        font-size: $fontsize * 1.1;

        section {
            header {
                nav{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    h2 {
                        background-color: $darkblue;
                        padding: 1rem 2rem;
                        margin: 0;
                        color: $white;

                        font-family: $font;
                        font-size: $fontsize * 1.2;
                        font-weight: 700;

                        &:hover {
                        background-color: $white;
                        color: $darkblue;
                        }

                        &:active {
                        background-color: $white;
                        color: $darkblue;
                        }

                        a {
                            padding: 1rem 2rem;
                            font-weight: 700;
                            color: $white;

                            &:hover {
                                color: $darkblue;


                        }
                    }
                }   
            }            
        }
        main {
            background-color: $white;
            padding: 3rem;

            h3 {
                color: $darkblue;
                padding: 1rem 0;
                text-transform: capitalize
            }

            ul {
                
                li {
                    list-style: none;
                    a {
                        color: $medblue;

                        &:hover {
                            color: $darkblue;
                            font-weight: 400;
                    }
                    }
                }
            }
        }
    }
    }
}

@media screen and (max-width: 950px){
    nav {
        flex-direction: column;

        h2 {
            text-align: center;
            font-size: $fontsize;
        }
    }
    main {
        padding: 1.5rem;

        h3 {
            text-align: center;
            padding: 0;
        }
        
        ul {
            text-align: center;
        }
    }
}
@media screen and (max-width: 600px) {
    body {
        #root {
            max-width: 100%;
            margin-top: 2rem;

            section {
                header {
                    nav {

                        h2 {
                            padding: 1rem;
                            font-size: $fontsize * 0.8;

                            a {
                                padding: 0.5rem 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}